*
{
	padding: 0px;
	margin: 0px;
}
body
{
	background-color: black;
}
nav
{
	height: 85px;
	width: 100%;
	background-color: black;
}

nav h1
{
	color: white;
	font-family: serif;
	font-size: 65px;
	float: center;
}